language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.2.2
gemfile:
  - gemfiles/rails_20.gemfile
  - gemfiles/rails_31.gemfile
  - gemfiles/rails_32.gemfile
  - gemfiles/rails_40.gemfile
  - gemfiles/rails_41.gemfile
  - gemfiles/rails_42.gemfile
matrix:
  exclude:
    - rvm: 2.2.2
      gemfile: gemfiles/rails_20.gemfile
    - rvm: 2.2.2
      gemfile: gemfiles/rails_31.gemfile
    - rvm: 2.2.2
      gemfile: gemfiles/rails_32.gemfile
    - rvm: 2.2.2
      gemfile: gemfiles/rails_40.gemfile
before_install: gem install bundler -v 1.10.2
addons:
  code_climate:
    repo_token: 406484919b3c7b57d10643c465efb9cbe9109a59ea6b5d64fb099c6c1e81a9f4
